.bool-faqs {
    padding: 50px 15px;

    h2,h3,p {
        padding: 0 80px;
        margin: 0 0 30px;
    }

    i {
        display: none;

        &.active {
            display: block;
        }

        &:hover {
            cursor: pointer;
        }
    }

    h3 {
        font-size: 24px;
        margin: 50px 0;
    }

    p {
        font-size: 18px;
    }

    &.before {
        color: $common-color-blue;
        background-color: rgb(232, 235, 241);

    }

    &.after {
        color: white;
        background-color: $common-color-blue;
    }
}
