footer {

    #bool-footer {
        padding: 70px 0;
        background-color: $common-color-blue;
        color: #FFFFFF;

        .upper-footer {
            border-bottom: 1px solid white;

            #footer-logo {
                img {
                    width: 30%;
                    margin-bottom: 5px;
                }
            }

            p {
                margin-bottom: 4px;
            }

            ul {
                list-style-type: none;

                li {
                    font-size: 20px;
                }
            }
        }

        .down-footer {
            margin-top: 25px;

            .col-lg-12 {
                margin: 0 auto;
                text-align: center;

                i {
                    font-size: 36px;
                    margin-bottom: 15px;
                    margin-right: 35px;

                    &:hover {
                        color: $common-color-green;
                    }
                }
            }
        }
    }
}
