#percentuali {
    background-color: $common-color-blue;
    color: #FFFFFF;
    text-align: center;

    .row {
        padding: $common-padding;

        h2 {
            font-size: 50px;
        }

        p {
            font-size: 19px;
            font-weight: $font-weight-li;
            max-width: 75%;
            margin: 0 auto;
        }
    }
}
