#placement {
    color: #8e8e8e;
    padding: $common-padding;

    .row {
        margin-bottom: 15px;
    }

        h3 {
            font-size: 19px;
        }

        img {
            max-width: 250px;
        }
    }
