$header-height: 80px;
$header-menu-margin: 25px;
$max-height-width: 100%;

$common-color-green: rgb(97, 206, 78);
$common-color-blue: #1b3c59;

$header-menu-border-bottom: 2px solid $common-color-green;

$jumbo-padding: 150px 0 30px 0;
$jumbo-h1-size: 50px;
$font-weight-li: 300;
